In [2]:
import pandas as pd
df = pd.read_csv('../vessel_movements_dataset.csv')
df

,vessel_id,vessel_type_new,timestamp,timestamp_epoch,latitude,longitude,speed_knots,in_anchorage,in_port_boundary,safety_score,...,aux_engine_fuel_type,boil_engine_fuel_type,engine_type,mep,vref,sfc_me,sfc_ae,sfc_ab,ael,abl
0,10498900,Chemical/Products Tanker,2025/03/29 19:02:27+00,1743274947,1.331667,104.660000,12.59,NaN,Singapore,4,...,DISTILLATE FUEL,DISTILLATE FUEL,SSD,5050,13.23,156.7,209.1,300,746,125
1,10498900,Chemical/Products Tanker,2025/03/29 20:02:27+00,1743278547,1.280000,104.861667,12.47,NaN,NaN,4,...,DISTILLATE FUEL,DISTILLATE FUEL,SSD,5050,13.23,156.7,209.1,300,746,125
2,10498900,Chemical/Products Tanker,2025/03/29 21:02:28+00,1743282148,1.155000,105.026667,12.55,NaN,NaN,4,...,DISTILLATE FUEL,DISTILLATE FUEL,SSD,5050,13.23,156.7,209.1,300,746,125
3,10498900,Chemical/Products Tanker,2025/03/29 22:02:25+00,1743285745,1.015000,105.180000,12.47,NaN,NaN,4,...,DISTILLATE FUEL,DISTILLATE FUEL,SSD,5050,13.23,156.7,209.1,300,746,125
4,10498900,Chemical/Products Tanker,2025/03/29 23:02:27+00,1743289347,0.865000,105.323333,12.52,NaN,NaN,4,...,DISTILLATE FUEL,DISTILLATE FUEL,SSD,5050,13.23,156.7,209.1,300,746,125
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13211,10744390,Chemical/Products Tanker,2025/06/05 18:00:02+00,1749146402,-18.971148,118.200507,12.68,NaN,NaN,4,...,DISTILLATE FUEL,DISTILLATE FUEL,SSD,10320,12.00,185.0,230.0,300,739,2493
13212,10744390,Chemical/Products Tanker,2025/06/05 19:00:11+00,1749150011,-19.173822,118.262568,12.53,NaN,NaN,4,...,DISTILLATE FUEL,DISTILLATE FUEL,SSD,10320,12.00,185.0,230.0,300,739,2493
13213,10744390,Chemical/Products Tanker,2025/06/05 20:00:57+00,1749153657,-19.376667,118.316667,12.62,NaN,NaN,4,...,DISTILLATE FUEL,DISTILLATE FUEL,SSD,10320,12.00,185.0,230.0,300,739,2493
13214,10744390,Chemical/Products Tanker,2025/06/05 21:00:59+00,1749157259,-19.581667,118.363333,10.47,NaN,Port Hedland,4,...,DISTILLATE FUEL,DISTILLATE FUEL,SSD,10320,12.00,185.0,230.0,300,739,2493
13215,10744390,Chemical/Products Tanker,2025/06/05 22:01:08+00,1749160868,-19.776667,118.416667,11.46,anchorage,Port Hedland,4,...,DISTILLATE FUEL,DISTILLATE FUEL,SSD,10320,12.00,185.0,230.0,300,739,2493

In [11]:
df.columns

Index(['vessel_id', 'vessel_type_new', 'timestamp', 'timestamp_epoch',
       'latitude', 'longitude', 'speed_knots', 'in_anchorage',
       'in_port_boundary', 'safety_score', 'dwt', 'fuel_category',
       'main_engine_fuel_type', 'aux_engine_fuel_type',
       'boil_engine_fuel_type', 'engine_type', 'mep', 'vref', 'sfc_me',
       'sfc_ae', 'sfc_ab', 'ael', 'abl '],
      dtype='object')

In [13]:
len(df['vessel_id'].unique()) # 108 unique ID
df['vessel_type_new'].unique()
df['safety_score'].unique()
for i in df.columns:
    print(f'{i}: {len(df[i].unique())}, \n {df[i].unique()}')

vessel_id: 108,
 [10498900 10411790 10855250 10221730 10752310 10633520 10007920 10166300
 10380110 10039600 10079190 10657280 10586010 10118790 10419710 10791900
 10467220 10736470 10102950 10665200 10095030 10522650 10681030 10815660
 10601840 10506820 10071270 10395950 10514740 10261330 10562250 10673120
 10649360 10593930 10229650 10190060 10031680 10807740 10720630 10443460
 10285080 10174220 10253410 10388030 10269250 10316760 10696870 10213810
 10142540 10712710 10435550 10546410 10799820 10055430 10617680 10023760
 10150460 10578090 10340520 10293000 10768140 10324680 10704790 10427630
 10126700 10451380 10483060 10570170 10197980 10728550 10087110 10776060
 10237570 10530570 10364270 10372190 10015840 10490980 10205890 10475140
 10760220 10277170 10823580 10609760 10348440 10538490 10356360 10459300
 10625600 10158380 10641440 10110870 10332600 10245490 10134620 10831500
 10839410 10688950 10783980 10047510 10847330 10554330 10403870 10300920
 10063350 10182140 10308840 10744390]
vessel_type_new: 1,
 ['Chemical/Products Tanker']
timestamp: 13105,
 ['2025/03/29 19:02:27+00' '2025/03/29 20:02:27+00'
 '2025/03/29 21:02:28+00' ... '2025/06/05 20:00:57+00'
 '2025/06/05 21:00:59+00' '2025/06/05 22:01:08+00']
timestamp_epoch: 13101,
 [1743274947 1743278547 1743282148 ... 1749153657 1749157259 1749160868]
latitude: 12243,
 [  1.33166667   1.28         1.155      ... -19.37666667 -19.58166667
 -19.77666667]
longitude: 11760,
 [104.66      104.8616667 105.0266667 ... 118.2005067 118.2625683
 118.3166667]
speed_knots: 1211,
 [12.59 12.47 12.55 ...  6.2   5.89 15.28]
in_anchorage: 2,
 [nan 'anchorage']
in_port_boundary: 3,
 ['Singapore' nan 'Port Hedland']
safety_score: 5,
 [4 3 2 1 5]
dwt: 102,
 [ 40483  39983 211474 106445 207826 106507 171810  48555  45853  49999
  46697 206331 176403 180575 180391 179700 181469 179561 175108 179418
 115461 115444 114563 177720 182534 178854 119290 115496 115629 115483
 180022 178838 179023 174802 180517 207396 179134 179842 179895 205905
 181480 203028 181403 115075 250806  14226  25035  49990 208086  37052
 206118 181009 207562 181214 209878 262781 207939 209529 179455 180544
 181020  63073 207999 209988  39781  61620 181070  37802 261085 261089
 261046  60238  60513 209951  49949  37520  49948  49861  60514  49901
  39538 210865  50192 100309 180592 210909 209485 210800 210938 209997
 208947 208970  42650  64691  87324 208808 210102 210177  39703  63696
  40503  64636]
fuel_category: 1,
 [2]
main_engine_fuel_type: 8,
 ['Methanol' 'DISTILLATE FUEL' 'LNG' 'Ammonia' 'Ethanol' 'LPG (Butane)'
 'Hydrogen' 'LPG (Propane)']
aux_engine_fuel_type: 1,
 ['DISTILLATE FUEL']
boil_engine_fuel_type: 1,
 ['DISTILLATE FUEL']
engine_type: 2,
 ['SSD' 'LNG-Diesel']
mep: 72,
 [ 5050 14600 12268 16610 16000  9480  8520  9108 18630 16860 18660 16221
 16800 16120 13080 13560 14300 16274 17684 14381 17690 16420 16107 16222
 14200 19619  4200  5180  8890 16400  7470 17429 15748 16200  7500 15800
 16040 18240 17494 15250 15483 15570  8500  6050  8130 16700  6250  7240
  8370  7741  9000  5540  7628  8310  7740  7820 17500  6875  9230 15650
 15300 15298 14800 15840  5720  7080  8180 14400  5280  7000  7100 10320]
vref: 76,
 [13.23 13.39 14.07 13.99 14.18 14.5  14.55 14.76 13.9  14.83 15.6  14.97
 14.45 14.2  14.9  14.6  14.69 14.62 14.4  14.01 13.75 14.61 14.87 14.1
 14.09 14.23 13.93 15.73 15.2  14.7  14.56 15.88 14.99 15.18 14.96 13.61
 15.08 15.19 13.73 13.2  15.31 14.58 14.3  15.21 14.15 14.37 14.66 13.96
 14.13 14.24 15.14 14.08 14.73 14.85 14.35 14.91 14.68 13.76 13.66 14.22
 13.69 14.82 14.05 14.49 14.64 14.28 14.59 13.97 14.54 14.46 13.81 14.16
 13.36 13.98 13.5  12.  ]
sfc_me: 90,
 [156.7  139.   168.43 167.   171.72 171.09 177.8  167.43 175.03 172.23
 169.1  169.19 171.   174.44 173.5  170.6  173.33 171.4  178.56 172.3
 172.7  172.94 174.   169.55 170.03 167.1  170.48 173.32 173.84 176.1
 169.73 175.43 164.7  168.5  177.3  175.78 175.6  172.88 172.02 181.5
 166.6  175.9  164.23 177.1  185.   170.21 170.83 171.64 159.74 165.71
 166.21 164.5  165.8  156.5  161.16 162.8  166.5  164.4  159.13 162.25
 164.8  162.34 168.3  169.   166.2  156.82 158.1  170.   164.9  161.7
 170.7  166.78 160.9  164.6  161.   162.3  163.8  161.2  160.8  162.71
 165.21 165.5  130.5  159.2  163.3  163.6  127.2  159.87 163.5  161.5 ]
sfc_ae: 61,
 [209.1   208.2   199.2   236.3   219.93  215.    208.25  235.5   201.1
 205.13  206.1   200.5   207.7   209.9   205.9   205.1   207.19  215.9
 199.3   203.093 212.1   211.5   212.4   204.5   230.    197.7   202.
 201.3   203.98  219.26  226.23  230.7   201.34  199.63  204.    217.1
 205.    206.9   231.2   210.1   234.    213.4   205.3   203.7   235.3
 216.    202.8   224.7   197.6   195.4   233.8   231.    201.7   198.77
 205.8   202.7   216.9   204.9   219.    204.23  217.8  ]
sfc_ab: 1,
 [300]
ael: 57,
 [ 746  745 1105  884 1097 1022  736  730  739  732 1094 1031 1040 1038
 1042 1029  903  901 1034 1044 1036  911  904 1039 1037 1028 1096 1093
 1087  902 1187  691  713 1098 1248 1041 1102 1213 1101  793  744  790
 1257 1209  787  788  738  740 1104  871 1103 1100  750  797  844 1099
  795]
abl : 31,
 [ 125  176  145  175  164 2433 2320 2493 2355  166  167    0  165  147
  168  149  174  188  117  120  136  192  132  131  191 2491 2487 2489
 2501  126  139]

In [17]:
# df = your vessel movement dataset

# Get unique vessel IDs
df_latest = (
    df.sort_values('timestamp')
      .groupby('vessel_id', as_index=False)
      .tail(1)
)
df_latest
df_latest.to_csv('../lastVesselInstance.csv', index=False)

### Step 1

In [20]:
# step 1
step1_df = df.copy()

def classify_movement(row):
    in_anchorage = (
        0 if pd.isna(row['in_anchorage']) else 1
    )

    in_port_boundary = (
        0 if pd.isna(row['in_port_boundary']) else 1
    )

    speed = row['speed_knots']

    if in_anchorage == 1 and speed < 1:
        return 'Anchorage'
    elif in_port_boundary == 1 and speed > 1:
        return 'Maneuver'
    elif in_port_boundary == 0 and speed >= 1:
        return 'Transit'
    else:
        return 'Drifting'
step1_df['movement_mode'] = step1_df.apply(classify_movement, axis=1)
step1_df.to_csv('../vessel_movements_dataset_modified.csv', index=False)

## Step 2

In [21]:
step2_df = step1_df.copy()
step2_df['timestamp'] = pd.to_datetime(step2_df['timestamp'], format='mixed')
# step2_df = step2_df.sort_values(['vessel_id', 'timestamp'])

step2_df['activity_hours'] = (
    step2_df.groupby('vessel_id')['timestamp']
      .diff()
      .dt.total_seconds()
      .div(3600)
      .fillna(0)
)
step2_df.to_csv('../vessel_movements_dataset_modified.csv', index=False)